<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/style.css" rel="stylesheet">
    <title>StudyMap</title>
</head>


<body>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">StudyMap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">How To</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/free_hours">Add Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/course">Add Course</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/assignment">Add Assignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>

  </ul>

</nav>
 
    <main class = "mid">
        <header class = "top">
        <h1>Welcome to StudyMap</h1>

        </header>
        <div id = "add">
            <h2>Add Course Info</h2>
            <form id = "course" action = "/add-course/" method = "POST">

            <p>
                <label>Course Name</label>
                <input type = "text" name = "course1">
            </p>
            <p>
                <label>Course Color</label>
                <select name = "course_colors">
                    <Option value = "white"></Option>
                    <Option value = "red" name = "red">red</Option>
                    <Option value = "blue" name = "blue">blue</Option>
                    <Option value = "green" name = "green">green</Option>
                    <Option value = "orange" name = "orange">orange</Option>
                    <Option value = "purple" name = "purple">purple</Option>
                    <Option value = "black" name = "black">black</Option>
                </select>
                <input type="submit" name="submit" value="Submit">
            </p>
            </form>

            <script>
                function course()
                {
                    var course1 = document.getElementById("course1").value;
                    alert("You've entered Course: " + course1);
                }
            </script>
        </div>
    </main>
</body>
</html>
