<!DOCTYPE html>
<html>
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<!-- Links -->
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="#">StudyMap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">How To</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/free_hours">Add Schedule</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/course">Add Course</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/assignment">Add Assignment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>

</ul>

</nav>

  <table style="width:100%">
      <tr>
      	  <th></th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
      </tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      <tr>
      	  <th><b>12AM - 1AM</b></th>
          <th><input type="checkbox" id="MON_12AM_1AM"></th>
          <th><input type="checkbox" id="TUES_12AM_1AM"></th>
          <th><input type="checkbox" id="WED_12AM_1AM"></th>
          <th><input type="checkbox" id="THURS_12AM_1AM"></th>
          <th><input type="checkbox" id="FRI_12AM_1AM"></th>
      </tr>
      <tr>
      	  <th><b>1AM - 2AM</b></th>
          <th><input type="checkbox" id="MON_1AM_2AM"></th>
          <th><input type="checkbox" id="TUES_1AM_2AM"></th>
          <th><input type="checkbox" id="WED_1AM_2AM"></th>
          <th><input type="checkbox" id="THURS_1AM_2AM"></th>
          <th><input type="checkbox" id="FRI_1AM_2AM"></th>
      </tr>
      <tr>
      	  <th><b>2AM - 3AM</b></th>
      	  <th><input type="checkbox" id="MON_2AM_3AM"></th>
          <th><input type="checkbox" id="TUES_2AM_3AM"></th>
          <th><input type="checkbox" id="WED_2AM_3AM"></th>
          <th><input type="checkbox" id="THURS_2AM_3AM"></th>
          <th><input type="checkbox" id="FRI_2AM_3AM"></th>
    </tr>
    <tr>
    	  <th><b>3AM - 4AM</b></th>
    	  <th><input type="checkbox" id="MON_3AM_4AM"></th>
          <th><input type="checkbox" id="TUES_3AM_4AM"></th>
          <th><input type="checkbox" id="WED_3AM_4AM"></th>
          <th><input type="checkbox" id="THURS_3AM_4AM"></th>
          <th><input type="checkbox" id="FRI_3AM_4AM"></th>
    </tr>
    <tr>
          <th><b>4AM - 5AM</b></th>
    	  <th><input type="checkbox" id="MON_4AM_5AM"></th>
          <th><input type="checkbox" id="TUES_4AM_5AM"></th>
          <th><input type="checkbox" id="WED_4AM_5AM"></th>
          <th><input type="checkbox" id="THURS_4AM_5AM"></th>
          <th><input type="checkbox" id="FRI_4AM_5AM"></th>
    </tr>
          <th><b>5AM - 6AM</b></th>
          <th><input type="checkbox" id="MON_5AM_6AM"></th>
          <th><input type="checkbox" id="TUES_5AM_6AM"></th>
          <th><input type="checkbox" id="WED_5AM_6AM"></th>
          <th><input type="checkbox" id="THURS_5AM_6AM"></th>
          <th><input type="checkbox" id="FRI_5AM_6AM"></th>
    <tr>
          <th><b>6AM - 7AM</b></th>
          <th><input type="checkbox" id="MON_6AM_7AM"></th>
          <th><input type="checkbox" id="TUES_6AM_7AM"></th>
          <th><input type="checkbox" id="WED_6AM_7AM"></th>
          <th><input type="checkbox" id="THURS_6AM_7AM"></th>
          <th><input type="checkbox" id="FRI_6AM_7AM"></th>
    </tr>
    <tr>
    	  <th><b>7AM - 8AM</b></th>
          <th><input type="checkbox" id="MON_7AM_8AM"></th>
          <th><input type="checkbox" id="TUES_7AM_8AM"></th>
          <th><input type="checkbox" id="WED_7AM_8AM"></th>
          <th><input type="checkbox" id="THURS_7AM_8AM"></th>
          <th><input type="checkbox" id="FRI_7AM_8AM"></th>
    </tr>
    <tr>
    	  <th><b>8AM - 9AM</b></th>
     	  <th><input type="checkbox" id="MON_8AM_9AM"></th>
          <th><input type="checkbox" id="TUES_8AM_9AM"></th>
          <th><input type="checkbox" id="WED_8AM_9AM"></th>
          <th><input type="checkbox" id="THURS_8AM_9AM"></th>
          <th><input type="checkbox" id="FRI_8AM_9AM"></th>
    </tr>
    <tr>
          <th><b>9AM - 10AM</b></th>
    	  <th><input type="checkbox" id="MON_9AM_10AM"></th>
          <th><input type="checkbox" id="TUES_9AM_10AM"></th>
          <th><input type="checkbox" id="WED_9AM_10AM"></th>
          <th><input type="checkbox" id="THURS_9AM_10AM"></th>
          <th><input type="checkbox" id="FRI_9AM_10AM"></th>
    </tr>
    <tr>
          <th><b>10AM - 11AM</b></th>
     	  <th><input type="checkbox" id="MON_10AM_11AM"></th>
          <th><input type="checkbox" id="TUES_10AM_11AM"></th>
          <th><input type="checkbox" id="WED_10AM_11AM"></th>
          <th><input type="checkbox" id="THURS_10AM_11AM"></th>
          <th><input type="checkbox" id="FRI_10AM_11AM"></th>
    </tr>
    <tr>
    	 <th><b>11AM - 12PM</b></th>
     	 <th><input type="checkbox" id="MON_11AM_12PM"></th>
         <th><input type="checkbox" id="TUES_11AM_12PM"></th>
         <th><input type="checkbox" id="WED_11AM_12PM"></th>
         <th><input type="checkbox" id="THURS_11AM_12PM"></th>
         <th><input type="checkbox" id="FRI_11AM_12PM"></th>
    </tr>
    <tr>
    	<th><b>12PM - 1PM</b></th>
     	<th><input type="checkbox" id="MON_12PM_1PM"></th>
        <th><input type="checkbox" id="TUES_12PM_1PM"></th>
        <th><input type="checkbox" id="WED_12PM_1PM"></th>
        <th><input type="checkbox" id="THURS_12PM_1PM"></th>
        <th><input type="checkbox" id="FRI_12PM_1PM"></th>
    </tr>
    <tr>
    	<th><b>1PM - 2PM</b></th>
     	<th><input type="checkbox" id="MON_1PM_2PM"></th>
        <th><input type="checkbox" id="TUES_1PM_2PM"></th>
        <th><input type="checkbox" id="WED_1PM_2PM"></th>
        <th><input type="checkbox" id="THURS_1PM_2PM"></th>
        <th><input type="checkbox" id="FRI_1PM_2PM"></th>
    </tr>
    <tr>
        <th><b>2PM - 3PM</b></th>
     	<th><input type="checkbox" id="MON_2PM_3PM"></th>
        <th><input type="checkbox" id="TUES_2PM_3PM"></th>
        <th><input type="checkbox" id="WED_2PM_3PM"></th>
        <th><input type="checkbox" id="THURS_2PM_3PM"></th>
        <th><input type="checkbox" id="FRI_2PM_3PM"></th>
    </tr>
    <tr>
    	<th><b>3PM - 4PM</b></th>
     	<th><input type="checkbox" id="MON_3PM_4PM"></th>
        <th><input type="checkbox" id="TUES_3PM_4PM"></th>
        <th><input type="checkbox" id="WED_3PM_4PM"></th>
        <th><input type="checkbox" id="THURS_3PM_4PM"></th>
        <th><input type="checkbox" id="FRI_3PM_4PM"></th>
    </tr>
    <tr>
       <th><b>4PM - 5PM</b></th>
       <th><input type="checkbox" id="MON_4PM_5PM"></th>
       <th><input type="checkbox" id="TUES_4PM_5PM"></th>
       <th><input type="checkbox" id="WED_4PM_5PM"></th>
       <th><input type="checkbox" id="THURS_4PM_5PM"></th>
       <th><input type="checkbox" id="FRI_4PM_5PM"></th>
    </tr>
    <tr>
       <th><b>5PM - 6PM</b></th>
       <th><input type="checkbox" id="MON_5PM_6PM"></th>
       <th><input type="checkbox" id="TUES 5PM_6PM"></th>
       <th><input type="checkbox" id="WED_5PM_6PM"></th>
       <th><input type="checkbox" id="THURS_5PM_6PM"></th>
       <th><input type="checkbox" id="FRI_5PM_6PM"></th>
    </tr>
    <tr>
      <th><b>6PM - 7PM</b></th>
      <th><input type="checkbox" id="MON_6PM_7PM"></th>
      <th><input type="checkbox" id="TUES_6PM_7AM"></th>
      <th><input type="checkbox" id="WED_6PM_7PM"></th>
      <th><input type="checkbox" id="THURS_6PM_7PM"></th>
      <th><input type="checkbox" id="FRI_6PM_7PM"></th>
    </tr>
    <tr>
      <th><b>7PM - 8PM</b></th>
      <th><input type="checkbox" id="MON_7PM_8PM"></th>
      <th><input type="checkbox" id="TUES_7PM_8PM"></th>
      <th><input type="checkbox" id="WED_7PM_8PM"></th>
      <th><input type="checkbox" id="THURS_7PM_8PM"></th>
      <th><input type="checkbox" id="FRI_7PM_8PM"></th>
    </tr>
    <tr>
      <th><b>8PM - 9PM</b></th>
      <th><input type="checkbox" id="MON_8PM_9PM"></th>
      <th><input type="checkbox" id="TUES_8PM_9PM"></th>
      <th><input type="checkbox" id="WED_8PM_9PM"></th>
      <th><input type="checkbox" id="THURS_8PM_9PM"></th>
      <th><input type="checkbox" id="FRI_8PM_9PM"></th>
    </tr>
    <tr>
      <th><b>9PM - 10PM</b></th>
      <th><input type="checkbox" id="MON_9PM_10PM"></th>
      <th><input type="checkbox" id="TUES_9PM_10PM"></th>
      <th><input type="checkbox" id="WED_9PM_10PM"></th>
      <th><input type="checkbox" id="THURS_9PM_10PM"></th>
      <th><input type="checkbox" id="FRI_9PM_10PM"></th>
    </tr>
    <tr>
      <th><b>10PM - 11PM</b></th>
      <th><input type="checkbox" id="MON_10PM_11PM"></th>
      <th><input type="checkbox" id="TUES_10PM_11PM"></th>
      <th><input type="checkbox" id="WED_10PM_11PM"></th>
      <th><input type="checkbox" id="THURS_10PM_11PM"></th>
      <th><input type="checkbox" id="FRI_10PM_11PM"></th>
    </tr>
    <tr>
      <th><b>11PM - 12AM</b></th>
      <th><input type="checkbox" id="MON_11PM_12AM"></th>
      <th><input type="checkbox" id="TUES_11PM_12AM"></th>
      <th><input type="checkbox" id="WED_11PM_12AM"></th>
      <th><input type="checkbox" id="THURS_11PM_12AM"></th>
      <th><input type="checkbox" id="FRI_11PM_12AM"></th>
    </tr>
  </table>
</html>
