<!DOCTYPE html>
<html>
  <table style="width:100%">
      <tr>
      	  <th></th>
          <th>Monday</th>
          <th>Tuesday</th> 
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
      </tr>
          <th></th>
          <th></th>
          <th></th> 
          <th></th>
          <th></th>
          <th></th>
      <tr>
      	  <th><b>12AM - 1AM</b></th>
          <th><input type="checkbox" id="MON_12_1"></th>
          <th><input type="checkbox" id="TUES_12_1"></th>
          <th><input type="checkbox" id="WED_12_1"></th>
          <th><input type="checkbox" id="THURS_12_1"></th>
          <th><input type="checkbox" id="FRI_12_1"></th>
      </tr>
      <tr>
      	  <th><b>1AM - 2AM</b></th>
          <th><input type="checkbox" id="MON_1_2"></th>
          <th><input type="checkbox" id="TUES_1_2"></th>
          <th><input type="checkbox" id="WED_1_2"></th>
          <th><input type="checkbox" id="THURS_1_2"></th>
          <th><input type="checkbox" id="FRI_1_2"></th>
      </tr>
      <tr>
      	  <th><b>2AM - 3AM</b></th>
      	  <th><input type="checkbox" id="MON_2_3"></th>
          <th><input type="checkbox" id="TUES_2_3"></th>
          <th><input type="checkbox" id="WED_2_3"></th>
          <th><input type="checkbox" id="THURS_2_3"></th>
          <th><input type="checkbox" id="FRI_2_3"></th>
    </tr>
    <tr>
    	  <th><b>3AM - 4AM</b></th>
    	  <th><input type="checkbox" id="MON_3_4"></th>
          <th><input type="checkbox" id="TUES_3_4"></th>
          <th><input type="checkbox" id="WED_3_4"></th>
          <th><input type="checkbox" id="THURS_3_4"></th>
          <th><input type="checkbox" id="FRI_3_4"></th>
    </tr>
    <tr>
          <th><b>4AM - 5AM</b></th>
    	  <th><input type="checkbox" id="MON_4_5"></th>
          <th><input type="checkbox" id="TUES_4_5"></th>
          <th><input type="checkbox" id="WED_4_5"></th>
          <th><input type="checkbox" id="THURS_4_5"></th>
          <th><input type="checkbox" id="FRI_4_5"></th>
    </tr>
          <th><b>5AM - 6AM</b></th>
          <th><input type="checkbox" id="MON_5_6"></th>
          <th><input type="checkbox" id="TUES_5_6"></th>
          <th><input type="checkbox" id="WED_5_6"></th>
          <th><input type="checkbox" id="THURS_5_6"></th>
          <th><input type="checkbox" id="FRI_5_6"></th>
    <tr>
          <th><b>6AM - 7AM</b></th>
          <th><input type="checkbox" id="MON_6_7"></th>
          <th><input type="checkbox" id="TUES_6_7"></th>
          <th><input type="checkbox" id="WED_6_7"></th>
          <th><input type="checkbox" id="THURS_6_7"></th>
          <th><input type="checkbox" id="FRI_6_7"></th>
    </tr>
    <tr>
    	  <th><b>7AM - 8AM</b></th>
          <th><input type="checkbox" id="MON_7_8"></th>
          <th><input type="checkbox" id="TUES_7_8"></th>
          <th><input type="checkbox" id="WED_7_8"></th>
          <th><input type="checkbox" id="THURS_7_8"></th>
          <th><input type="checkbox" id="FRI_7_8"></th>
    </tr>
    <tr>
    	  <th><b>8AM - 9AM</b></th>
     	  <th><input type="checkbox" id="MON_8_9"></th>
          <th><input type="checkbox" id="TUES_8_9"></th>
          <th><input type="checkbox" id="WED_8_9"></th>
          <th><input type="checkbox" id="THURS_8_9"></th>
          <th><input type="checkbox" id="FRI_8_9"></th>
    </tr>
    <tr>
          <th><b>9AM - 10AM</b></th>
    	  <th><input type="checkbox" id="MON_9_10"></th>
          <th><input type="checkbox" id="TUES_9_10"></th>
          <th><input type="checkbox" id="WED_9_10"></th>
          <th><input type="checkbox" id="THURS_9_10"></th>
          <th><input type="checkbox" id="FRI_9_10"></th>
    </tr>
    <tr>
          <th><b>10AM - 11AM</b></th>
     	  <th><input type="checkbox" id="MON_10_11"></th>
          <th><input type="checkbox" id="TUES_10_11"></th>
          <th><input type="checkbox" id="WED_10_11"></th>
          <th><input type="checkbox" id="THURS_10_11"></th>
          <th><input type="checkbox" id="FRI_10_11"></th>
    </tr>
    <tr>
    	 <th><b>11AM - 12PM</b></th>
     	 <th><input type="checkbox" id="MON_11_12"></th>
         <th><input type="checkbox" id="TUES_11_12"></th>
         <th><input type="checkbox" id="WED_11_12"></th>
         <th><input type="checkbox" id="THURS_11_12"></th>
         <th><input type="checkbox" id="FRI_11_12"></th>
    </tr>
    <tr>
    	<th><b>12PM - 1PM</b></th>
     	<th><input type="checkbox" id="MON_12_13"></th>
        <th><input type="checkbox" id="TUES_12_13"></th>
        <th><input type="checkbox" id="WED_12_13"></th>
        <th><input type="checkbox" id="THURS_12_13"></th>
        <th><input type="checkbox" id="FRI_12_13"></th>
    </tr>
    <tr>
    	<th><b>1PM - 2PM</b></th>
     	<th><input type="checkbox" id="MON_13_14"></th>
        <th><input type="checkbox" id="TUES_13_14"></th>
        <th><input type="checkbox" id="WED_13_14"></th>
        <th><input type="checkbox" id="THURS_13_14"></th>
        <th><input type="checkbox" id="FRI_13_14"></th>
    </tr>
    <tr>
        <th><b>2PM - 3PM</b></th>
     	<th><input type="checkbox" id="MON_14_15"></th>
        <th><input type="checkbox" id="TUES_14_15"></th>
        <th><input type="checkbox" id="WED_14_15"></th>
        <th><input type="checkbox" id="THURS_14_15"></th>
        <th><input type="checkbox" id="FRI_14_15"></th>
    </tr>
    <tr>
    	<th><b>3PM - 4PM</b></th>
     	<th><input type="checkbox" id="MON_15_16"></th>
        <th><input type="checkbox" id="TUES_15_16"></th>
        <th><input type="checkbox" id="WED_15_16"></th>
        <th><input type="checkbox" id="THURS_15_16"></th>
        <th><input type="checkbox" id="FRI_15_16"></th>
    </tr>
    <tr>
       <th><b>4PM - 5PM</b></th>
       <th><input type="checkbox" id="MON_16_17"></th>
       <th><input type="checkbox" id="TUES_16_17"></th>
       <th><input type="checkbox" id="WED_16_17"></th>
       <th><input type="checkbox" id="THURS_16_17"></th>
       <th><input type="checkbox" id="FRI_16_17"></th>
    </tr>
    <tr>
       <th><b>5PM - 6PM</b></th>
       <th><input type="checkbox" id="MON_17_18"></th>
       <th><input type="checkbox" id="TUES 17_18"></th>
       <th><input type="checkbox" id="WED_17_18"></th>
       <th><input type="checkbox" id="THURS_17_18"></th>
       <th><input type="checkbox" id="FRI_17_18"></th>
    </tr>
    <tr>
      <th><b>6PM - 7PM</b></th>
      <th><input type="checkbox" id="MON_18_19"></th>
      <th><input type="checkbox" id="TUES_18_19"></th>
      <th><input type="checkbox" id="WED_18_19"></th>
      <th><input type="checkbox" id="THURS_18_19"></th>
      <th><input type="checkbox" id="FRI_18_19"></th>
    </tr>
    <tr>
      <th><b>7PM - 8PM</b></th>
      <th><input type="checkbox" id="MON_19_20"></th>
      <th><input type="checkbox" id="TUES_19_20"></th>
      <th><input type="checkbox" id="WED_19_20"></th>
      <th><input type="checkbox" id="THURS_19_20"></th>
      <th><input type="checkbox" id="FRI_19_20"></th>
    </tr>
    <tr>
      <th><b>8PM - 9PM</b></th>
      <th><input type="checkbox" id="MON_20_21"></th>
      <th><input type="checkbox" id="TUES_20_21"></th>
      <th><input type="checkbox" id="WED_20_21"></th>
      <th><input type="checkbox" id="THURS_20_21"></th>
      <th><input type="checkbox" id="FRI_20_21"></th>
    </tr>
    <tr>
      <th><b>9PM - 10PM</b></th>
      <th><input type="checkbox" id="MON_21_22"></th>
      <th><input type="checkbox" id="TUES_21_22"></th>
      <th><input type="checkbox" id="WED_21_22"></th>
      <th><input type="checkbox" id="THURS_21_22"></th>
      <th><input type="checkbox" id="FRI_21_22"></th>
    </tr>
    <tr>
      <th><b>10PM - 11PM</b></th>
      <th><input type="checkbox" id="MON_22_23"></th>
      <th><input type="checkbox" id="TUES_22_23"></th>
      <th><input type="checkbox" id="WED_22_23"></th>
      <th><input type="checkbox" id="THURS_22_23"></th>
      <th><input type="checkbox" id="FRI_22_23"></th>
    </tr>
    <tr>
      <th><b>11PM - 12AM</b></th>
      <th><input type="checkbox" id="MON_23_24"></th>
      <th><input type="checkbox" id="TUES_23_24"></th>
      <th><input type="checkbox" id="WED_23_24"></th>
      <th><input type="checkbox" id="THURS_23_24"></th>
      <th><input type="checkbox" id="FRI_23_24"></th>
    </tr>
  </table>
</html>
