<!DOCTYPE html>
<html lang="en">
<head>
  <title>StudyMap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="../static/style.css" rel="stylesheet">
</head>
<body>
  <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">StudyMap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/info">How To</a>
      </li>
      {% if session['logged_in'] %}
      <li class="nav-item">
        <a class="nav-link" href="/free_hours">Add Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/course">Add Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assignment">Add Assignment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/workspace">Workspace</a>
      </li>
      {% endif %}
      <li class="nav-item">
        {% if session['logged_in'] %}
        <a class="nav-link" href="/logout-user/">Logout</a>
        {% else %}
        <a class="nav-link" href="/login">Login</a>
        {% endif %}
      </li>

    </ul>

  </nav>
  <div class="container-fluid">
    <h1>How to use StudyMap</h1>
    <ul>
        <li>Log in or sign up <a href="/login">here.</a></li>
        <li>Check off all times you would like off from work <a href="/free_hours">here.</a></li>
        <li>Add your courses <a href="/course">here.</a></li>
        <li>Add your assignments <a href="/assignment">here.</a></li>
        <li>View your recommended work schedule <a href="/">here.</a></li>
        <li>Go <a href="/workspace">here</a> to use the timer for your assignments.</li>
    </ul>
  </div>
</body>

</html>
