<html>
<head>
    <title>StudyMap Login</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
    <body class="login-page">
    <div class="login-box">
    <img src="/static/avatar.png" class="avatar">
        <h1 class="login-header">Login</h1>
        {% if error %}
        <span class="error">{{error}}</span>
        {% endif %}

        <form action="/login-user/" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Login">
             
        </form>
        
        <input type="submit" name="gotosignup" value="Sign-Up" onclick="location.href='/signup'">
            
        
        </div>
    
    </body>
</html>