<html>
<head>
    <title>StudyMap Login</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
    <body class="login-page">
      <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">StudyMap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How To</a>
        </li>
        {% if session['logged_in']%}
        <li class="nav-item">
          <a class="nav-link" href="/free_hours">Add Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assignment">Add Assignment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workspace">Workspace</a>
        </li>
        {% endif %}
        <li class="nav-item">
            {% if session['logged_in'] %}
                <a class="nav-link" href="/logout-user/">Logout</a>
            {% else %}
                <a class="nav-link" href="/login">Login</a>
            {% endif %}
        </li>

      </ul>

    </nav>

    <div class="login-box">
    <img src="/static/avatar.png" class="avatar">
        <h1 class="login-header">Login</h1>
        {% if error %}
        <span class="error">{{error}}</span>
        {% endif %}

        <form action="/login-user/" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Login">

        </form>

        <input type="submit" name="gotosignup" value="Sign-Up" onclick="location.href='/signup'">


        </div>

    </body>
</html>
