<html>
<head>
  <title>StudyMap Sign-Up</title>
  <link href="/static/style.css" rel="stylesheet">
</head>
    <body class="login-page">
      <!-- A grey horizontal navbar that becomes vertical on small screens -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">StudyMap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">How To</a>
        </li>
        {% if session['logged_in'] %}
        <li class="nav-item">
          <a class="nav-link" href="/free_hours">Add Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Add Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assignment">Add Assignment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workspace">Workspace</a>
        </li>
        {% endif %}
        <li class="nav-item">
            {% if session['logged_in'] %}
                <a class="nav-link" href="/logout-user/">Logout</a>
            {% else %}
                <a class="nav-link" href="/login">Login</a>
            {% endif %}
        </li>

      </ul>

    </nav>

    <div class="login-box">
    <img src="/static/avatar.png" class="avatar">
        <h1 class="login-header">Sign-Up</h1>
        {% if error %}
        <span class="error">{{error}}</span>
        {% endif %}

        <form action="/create-user/" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Enter Password" required>
            <p>Confirm Password</p>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter Password" required>
            <input type="submit" name="submit" value="Create New Account">
            <p align="right"><a href="/login">Go Back</a></p>
            </form>

        </div>

        <script>
            var password = document.getElementById("password");
            var confirm_password = document.getElementById("confirm-password");
            function validatePassword()
            {
                console.log(password.value);
                console.log(confirm_password.value);
                console.log(password.value != confirm_password.value);
                if(password.value != confirm_password.value)
                {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                    confirm_password.reportValidity();
                }
                else
                {
                    confirm_password.setCustomValidity("");
                    confirm_password.reportValidity();
                }
            }

            confirm_password.onchange = validatePassword;
        </script>

    </body>

</body>
</html>
